<div>

{{!--

  interests
  location_latitude
  location_longitude
  picture
  user_email
  username
  password
  visibleName

 --}}

<div>
  <img {{bind-attr src='picture'}}></img>
</div>

<form>

  {{username}}<br>
  {{visibleName}}<br>
  {{user_email}}<br>
  {{password}}<br>
  {{interests}}<br>


  {{input class="username" type="text" required="true" autofocus="true" placeholder="User Name" value=username}}<br>

  {{input class="visibleName" type="text" required="true" autofocus="true" placeholder="User Handle" value=visibleName}}
  <br>

   {{input class="user_email" type="text" required="true" autofocus="true" placeholder="email" value=user_email}}
  <br>

  {{input class="interests" type="text" required="true" autofocus="true" placeholder="interests" value=interests}}
  <br>

  <button class="submit visibleName" {{action 'addVisibleName'}}>submit</button>
  {{#if error}}<div class="error">{{error.message}}</div>{{/if}}

</form>

</div>
