  {{!-- left column --}}
<div class="col-md-3">
  <div class="text-center">
    {{gravatar-image class="picture" picture=picture size="200"}}
    Image from gravatar
  </div>
</div>

{{!-- edit form column --}}
<div class="col-md-9 personal-info">

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-lg-3 control-label">UserName:</label>
      <div class="col-lg-8">
        {{input class="username form-control" type="text" required="true" autofocus="true" placeholder="User Name" value=username}}
      </div>
    </div>{{!-- form-group --}}

    <div class="form-group">
      <label class="col-lg-3 control-label">Handle:</label>
      <div class="col-lg-8">
        {{input class="visibleName form-control" type="text" required="true" autofocus="true" placeholder="User Handle" value=visibleName}}
      </div>
    </div>{{!-- form-group --}}

    <div class="form-group">
      <label class="col-lg-3 control-label">Email:</label>
      <div class="col-lg-8">
        {{input class="user_email form-control" type="text" required="true" autofocus="true" placeholder="email" value=user_email}}
      </div>
    </div>{{!-- form-group --}}

    <div class="form-group">
      <label class="col-md-3 control-label">Interests:</label>
      <div class="col-md-8">
        {{input class="interests form-control" type="text" required="true" autofocus="true" placeholder="3 favorite things to do (separated by commas)" value=interests}}
      </div>
    </div>{{!-- form-group --}}

    <div class="form-group">
      <label class="col-md-3 control-label">Bio:</label>
      <div class="col-md-8">
        {{textarea value=bio rows="3" class="input-xlarge" class="bio form-control" type="text" required="true" autofocus="true" placeholder="short biography" value=bio}}
      </div>
    </div>{{!-- form-group --}}

    <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-8">

        <button class="submit updateUserProfile btn btn-primary" {{action 'updateUserProfile'}}>save and submit</button>
        {{#if error}}<div class="error">{{error.message}}</div>{{/if}}
        <span></span>
        <input type="reset" class="btn btn-default" value="Cancel">
      </div>
    </div>{{!-- form-group --}}
  </form>
</div>{{!-- personal-info --}}
