<div>

<div>
  <img {{bind-attr src='picture'}}></img>
</div>

<form>

  {{bodyUser}}<br>
  {{bodyvisibleName}}<br>
  {{bodyEmail}}<br>
  {{bodyPassword}}<br>
  {{bodyInterest1}}<br>
  {{bodyInterest2}}<br>
  {{bodyInterest3}}<br>

  {{input class="userName" type="text" required="true" autofocus="true" placeholder="User Name" value=bodyUser}}<br>

  {{input class="visibleName" type="text" required="true" autofocus="true" placeholder="User Handle" value=bodyvisibleName}}
  <br>

   {{input class="email" type="text" required="true" autofocus="true" placeholder="email" value=bodyEmail}}
  <br>

  {{input class="password" type="text" required="true" autofocus="true" placeholder="password" value=bodyPassword}}
  <br>

  {{input class="interest1" type="text" required="true" autofocus="true" placeholder="Interest1" value=bodyInterest1}}
  <br>

  {{input class="interest2" type="text" required="true" autofocus="true" placeholder="Interest2" value=bodyInterest2}}
  <br>

  {{input class="interest3" type="text" required="true" autofocus="true" placeholder="Interest3" value=bodyInterest3}}
  <br>

  <button class="submit visibleName" {{action 'addVisibleName'}}>submit</button>
  {{#if error}}<div class="error">{{error.message}}</div>{{/if}}

</form>

</div>
