<form {{action 'signup' on='submit'}}>
  {{input type="username" required="true" autofocus="true" placeholder="Username" value=username}}
  {{input type="password" required="true" autofocus="true" placeholder="Password" value=password}}
  {{input type="user_email" required="true" autofocus="true" placeholder="Email" value=user_email}}
  <button type="submit">Sign up</button>
  {{#if error}}<div>Error: {{error}}.</div>{{/if}}
</form>