<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
              <h1></h1>
            </div>
            <div class="col-lg-7">
              <img src="placeholder">
            </div>
        </div>
    </div>
</header>
<hr>
<div class="container-fluid">
    <section class="container">
    <div class="container-page">
      <div class="col-md-4">
        <h3 class="dark-grey">Registration</h3>
            <form {{action 'signup' on='submit'}}>
              {{input type="username" class="form-control" required="true" autofocus="true" placeholder="Username" value=username}}<br><p>
              {{input type="password" class="form-control" required="true" autofocus="true" placeholder="Password" value=password}}<p>
              {{input type="user_email" class="form-control" required="true" autofocus="true" placeholder="Email" value=user_email}}<p>
              <button type="submit">Sign up</button>
              {{#if error}}<div>Error: {{error}}.</div>{{/if}}
          </form>
      </div>
  </div>

      <div class="col-md-8">
        <h3 class="dark-grey">Terms and Conditions</h3>
        <p>
          Our most important term of service is the following: Please, don’t be a jerk. That being said, the terms below strongly apply, too. 
        </p>
        <p>
         <h4>Privacy:</h4>
        1. We promise to keep your information private. We will not provide any of your information to third parties, and assure that it will remain safe and sound on our site.
        </p>
        <p>
         <h4>Registration:</h4>
        1. You will not provide any false information, or create an account for another person without their permission.<br>
        2. If we disable your account, you will not create another one without our permission. <br>
        3. You will not do anything that will jeopardize the security of your account, or any other user’s account. <br>
        4. You will not use your account for any form of monetary gain.
        </p>
        <p>
        <h4>Safety:</h4>
        1. You will not post any form of unauthorized material to CityHacker. <br>
        2. You will not upload viruses or any other form of malicious code.<br>
        3. You will not use CityHacker to do anything unlawful.
        </p>
        <p>
        <h4>Protecting Other People’s Rights:</h4>
        1. You will not post any form of content that violates someone else’s rights.<br>
        2. We reserve the right to disable your account if you engage in any form of misconduct deemed inappropriate, unlawful, racist or sexist.
        </p>

      </div>
    </div>
  </section>
</div>
