{{!-- This is the Bootsnipp http://bootsnipp.com/snippets/featured/310-user-profile-in-modal-window --}}
{{#each}}
<div class="container">
    <div class="span3 well">
        <div><center>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal">{{gravatar-image email=user_email width="140" height="140" class="img-circle" }}</a>
            <h3>{{visibleName}}</h3>
            <em>{{interests}} in Portland, OR</em>
        </center></div>
        <p>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Joe</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    {{gravatar-image email=user_email size="200"}}
                    <h3 class="media-heading">{{username}}<br><small>Portland, Oregon</small></h3>
                    <span><strong>Interests:</strong></span>
                        {{#each interest in interestsList}}
                            <span class="label label-warning">{{interest}}</span>
                        {{/each}}
                        {{!-- TODO: can we get beautiful colors? --}}
                        {{!-- <span class="label label-warning">Freestyle Walker</span> --}}
                        {{!-- <span class="label label-info">Yogi</span> --}}
                        {{!-- <span class="label label-success">Foodie</span> --}}
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}